mat-toolbar {
    position: fixed;
    top: 0;
    z-index: 1000;
    padding: 0 30px;
    background-color: red;
}

.spacer {
    flex: 1 1 auto;
}

.mat-icon-button {
    margin: 0 5px;
}
<<<<<<< HEAD
mat-icon{
  color:black;
  matBadgeColor:black;
}
=======

.heightFix {
    min-height: 90%;
}
>>>>>>> 672a6dee845c43a308ac4dc628c1233c6a8da70f
