mat-toolbar {
    position: fixed;
    top: 0;
    z-index: 1000;
    padding: 0 30px;
    background-color: red;
}

.spacer {
    flex: 1 1 auto;
}

.mat-icon-button{
    margin: 0 5px;
}
mat-icon{
  color:black;
  matBadgeColor:black;
}
