<h1 mat-dialog-title>Edit</h1>
<mat-dialog-content>
    <form [formGroup]="editForm" (submit)="onSubmit()">
        <p>
            <mat-form-field appearance="outline">
                <mat-label>Title</mat-label>
                <input type="text" matInput autocomplete="off" formControlName="title" required>
                <mat-hint *ngIf="editForm.controls.title.touched && !editForm.controls.title.valid">
                    Please insert valid title
                </mat-hint>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="outline">
                <mat-label>Description</mat-label>
                <textarea matInput formControlName="description" required></textarea>
                <mat-hint *ngIf="editForm.controls.description.touched && !editForm.controls.description.valid">
                    Please insert description
                </mat-hint>
            </mat-form-field>
        </p>
        <p>
            <button type="button" mat-raised-button mat-dialog-close color="warn">Close</button>
            <button type="submit" mat-raised-button color="accent" [disabled]="!editForm.valid">Save</button>
        </p>
    </form>
</mat-dialog-content>
<!-- <mat-dialog-actions> -->
<!-- <button type="button" mat-raised-button mat-dialog-close color="warn">Close</button> -->
<!-- <button class="mat-raised-button mat-accent" (click)="save()">Save</button> -->
<!-- </mat-dialog-actions> -->