.nav-spacer {
    height: 8vh;
}

.container {
    margin: 25px;
    height: 470px;
}

.mat-card-image {
    height: 400px;
}

.mat-elevation-z3 {
    width: 250px;
<<<<<<< HEAD
    min-height: 400px;
}
.mat-button {color:red;}
=======
    height: 350px;
}
>>>>>>> 672a6dee845c43a308ac4dc628c1233c6a8da70f
