mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  padding: 0 30px;
  color:black;
  background-color: #ababab
  ;

}
.spacer {
  flex: 1 1 auto;
}
mat-sidenav-container{
  height: 100%;
}
mat-sidenav{
  width: 200px;
  padding: 10px;
}
mat-list-item a{
  align-items: center;
  display: flex;
  color:#333333
  ;
}
mat-list-item a span{
  padding: 0px 10px;
}
mat-list-item.active{
  color: #1a1a1a;
}
.mat-line{
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
}
