mat-card {
    text-align: center;
}

mat-card-header {
    justify-content: center;
    color: #ff4081;
}

.container {
    height: 85%;
}

.margin-fixed {
    justify-content: center;
    padding-top: 15%;
}