<div class="nav-spacer"></div>
<div id="container">

    <div id="spacer"></div>

    <div id="services">
        <mat-grid-list cols="3" gutterSize="10px" rowHeight="200px">
            <mat-grid-tile>
                <mat-card class="mat-elevation-z8">
                    <mat-card-content class="service-content">
                        <span>
                            <mat-icon>local_shipping</mat-icon>
                        </span>
                        <p>Free shopping.</p>
                    </mat-card-content>
                </mat-card>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-card class="mat-elevation-z8">
                    <mat-card-content class="service-content">
                        <span>
                            <mat-icon>call</mat-icon>
                        </span>
                        <p>24/7 support.</p>
                    </mat-card-content>
                </mat-card>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-card class="mat-elevation-z8">
                    <mat-card-content class="service-content">
                        <span>
                            <mat-icon>create</mat-icon>
                        </span>
                        <p>Innovative creation.</p>
                    </mat-card-content>
                </mat-card>
            </mat-grid-tile>
        </mat-grid-list>
    </div>

    <div id="spacer"></div>

    <div id="about">
        <mat-card class="mat-elevation-z8">
            <mat-card-header>
                <mat-card-title>HUBLOT</mat-card-title>
                <mat-card-subtitle>E-Shop</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p>
                    Exploring every detail of innovation, Hublot’s world is made of groundbreaking Craftsmanship, Partnerships and News & Events.
                </p>
                <p>
                    Contact no.: 987-654-3210
                </p>
                <p>
                    Email - email@ws.com
                </p>
            </mat-card-content>
        </mat-card>
    </div>

    <div id="spacer"></div>

    <div id="categories">
        <mat-grid-list cols="2" gutterSize="10px" rowHeight="250px">
            <mat-grid-tile *ngFor="let category of categories">
                <mat-card class="mat-elevation-z8">
                    <mat-card-header>
                        <mat-card-title>{{category.title}}</mat-card-title>
                        <mat-card-subtitle>Category</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <p>{{category.description}}</p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-raised-button color="accent" routerLink="../shop/{{category.id}}/{{category.title}}">
                            <mat-icon>visibility</mat-icon>
                            View
                        </button>
                    </mat-card-actions>
                </mat-card>
            </mat-grid-tile>
        </mat-grid-list>
    </div>

</div>
