
#container {
    background-position: center;
    background-attachment: fixed;
    background-color:rgb(251, 247, 247);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 25px;
}
#spacer {
    height: 0vh;
}

#categories {
    margin: 20px;
}
#categories mat-card {
    width: 50%;
    height: 70%;
}
.mat-raised-button{
color: black;
background-color: red;
}
.mat-card{
  background-color:rgb(251, 247, 247);
}
