

<div class="nav-spacer"></div>
<div id="container">

    <div id="spacer"></div>


    </div>

    <div id="spacer"></div>



    <div id="spacer"></div>

    <div id="categories">
        <mat-grid-list cols="2" gutterSize="10px" rowHeight="250px">
            <mat-grid-tile *ngFor="let category of categories">
                <mat-card class="mat-elevation-z8">
                    <mat-card-header>
                        <mat-card-title>{{category.title}}</mat-card-title>
                        <mat-card-subtitle>Category</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <p>{{category.description}}</p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-raised-button color="accent" routerLink="../shop/{{category.id}}/{{category.title}}">
                            <mat-icon>visibility</mat-icon>
                            View
                        </button>
                    </mat-card-actions>
                </mat-card>
            </mat-grid-tile>
        </mat-grid-list>
        <app-admin-footer></app-admin-footer>

    </div>


