
#container {
    background-position: center;
    background-attachment: fixed;
    padding: 25px;
}
#spacer {
    height: 0vh;
}

#categories {
    margin: 20px;
}
#categories mat-card {
    width: 30%;
    height: 50%;
}
