<mat-card>
    <mat-card-header>
        <mat-card-title>E-Shop</mat-card-title>
        <mat-card-subtitle>Login</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="loginForm" (submit)="onSubmit()">
            <p>
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input type="email" autocomplete="off" matInput formControlName="email" required>
                    <mat-hint *ngIf="loginForm.controls.email.touched && !loginForm.controls.email.valid">
                        Please insert valid email.
                    </mat-hint>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input type="password" autocomplete="off" matInput formControlName="password" required>
                    <mat-hint *ngIf="loginForm.controls.password.touched && !loginForm.controls.password.valid">
                        Please insert valid password.
                    </mat-hint>
                </mat-form-field>
            </p>
            <p>
                <button type="submit" mat-raised-button color="accent" [disabled]="!loginForm.valid">Submit</button>
            </p>
        </form>
        <p>
            New user?
            <a mat-button color="accent" routerLink="/adminRegister">Register.</a>
        </p>
    </mat-card-content>
</mat-card>
